#slideshow-container {
    max-height: 70%;
    /* margin-top: 15%; */
    text-align: center;
}

body {
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 30px;
}

img {
    max-width: 90%;
}

.arrow {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    font-size: 44px;
    cursor: pointer;
}

.prev {
    left: 25px;
}

.next {
    right: 25px;
}