body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #222;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav a {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    text-decoration: none;
    color: #ff1414;
}

a {
    /* text-decoration: none; */
    color: inherit;
}

h1 {
    font-size: 36px;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 14px;
}

.flex-container {
    display: flex;
    height: 88vh;
    text-decoration: none;
}

.left-column {
    flex: 1; 
    padding: 20px;
    background-color: #414141;
    
}

.row {
    margin-bottom: 10px;
    text-align: left; 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #5f5f5f;
}

.row p {
    line-height: 1.75;
    margin-top: 10px;
    margin: 20px; 
}

.row:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }

.right-column {
    flex: 1;
    padding: 20px;
    /* background-color: #e0e0e0; */
}

.video-container{
    display: flex;
    justify-content: center; 
    align-items: center;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }
    
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    
    .hero {
        padding: 80px 0;
    }
}