header {
    background-color: rgb(231, 231, 231);
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

footer {
    background-color: rgb(231, 231, 231);
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;
    width: 70%;
    margin: 10px;
    /* border: 5px solid #000; 
    border-radius: 15px;  */
    padding: 10px;
    display: flex;
    flex-direction: row;
    line-height: 1.6;
}

.flex-horiz {
    /* border: 5px solid #b31717; 
    border-radius: 15px; */
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 450px;
    /* margin: 10px; */
}

a {
    text-decoration: none;
    color: inherit;
}